/* 
font-family: 'Anton', sans-serif;
font-family: 'Architects Daughter', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Train One', cursive;

*/

/* 
font-family: 'Charmonman', cursive;
font-family: 'Chicle', cursive;
font-family: 'Crushed', cursive;
font-family: 'Farro', sans-serif;
font-family: 'Kumar One', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Simonetta', cursive;
font-family: 'Slackey', cursive;
font-family: 'Stoke', serif;
font-family: 'Swanky and Moo Moo', cursive;
font-family: 'Uncial Antiqua', cursive;

*/


/* color */

/* 

    color: rgb(55, 183, 252);
    background-color: rgb(55, 183, 252);
    rgb(55, 183, 252)

*/




/*
    products titles

    font-family: 'Simonetta', cursive;

*/


/* 
<!-- <div class="nav-line2">
<a href="#">Leptops</a>
<a href="#">Mobile</a>
<a href="#">Camera & Photos</a>
<a href="#">Audio & Video</a>
<a href="#">Video Games</a>
<a href="#">Storge Device</a>
<a href="#">Smart Electronic</a>
<a href="#">furniture</a>
<a href="#">Books</a>
<a href="#">TV</a>
<a href="#">Others</a>
</div> --> */

